* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: linear-gradient(rgba(247, 35, 7, 0.5), rgba(112, 111, 111, 0.8)), url(/img/lineas-geometricas-de-neon-abstracto_7680x5120_xtrafondos.com.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    }

.card:hover {
-webkit-box-shadow: 2px 2px 43px 12px rgba(0,0,0,0.88); 
box-shadow: 2px 2px 43px 12px rgba(0,0,0,0.88);
transition: 0.5s;
}

/***
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #141827 0%, #8f7ba3 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;
}